* {
  margin: 0;
}

html,
body {
  height: 100%;
}


.box{
    /* background-color: #11f; */
    /* display: flex; */
    color: antiquewhite;
    justify-content: center;
    align-items: center;
    font-size: 4em;
}


section {
    background-color: rgb(238, 17, 201);
display: grid;
height: 100%;
gap: 5px;
/* grid-template-columns: repeat(3, 200px);
grid-template-rows: repeat(3,200px); */
/* justify-content: space-between;
align-content: space-between; */
/* place-content: center;
place-items: center; */
/* grid-template-rows: 1fr 1fr 1fr; */
grid-template-columns: 1fr 1fr 1fr;
/* justify-items: center;
align-items: center; */
}

.box-3{
    color: rgb(41, 133, 186);
    justify-self: end;
    align-self: end;
}

.box-6{
    border: 2px solid;
    justify-self: center;
    align-self: center;
}
